# .env.example
API_PORT=8080
API_SERVER_HOST=localhost
JWT_SECRET=a_very_secret_key_change_me_please # CHANGE THIS! Use a strong, random secret
JWT_EXPIRATION_MINUTES=60m
API_USER_GROUP=clab_api # The API group name, if not defined, the user needs to be in clab_admins group
SUPERUSER_GROUP=clab_admins # The Superusers are allowed to see all labs
CLAB_RUNTIME=docker # The runtime to use for the labs
LOG_LEVEL=debug
CORS_ALLOWED_ORIGINS=http://localhost:5173 # Comma-separated list, e.g. http://localhost:5173,https://ui.example.com

# Gin Settings
GIN_MODE=release       # Options: debug, release, test
TRUSTED_PROXIES=     # Options: nil (trust none), comma-separated IPs, or empty (trust all)

# SSH proxy port range (Default: 2223-2322)
#SSH_BASE_PORT=2223
#SSH_MAX_PORT=2322

# --- TLS Configuration ---
#TLS_ENABLE=true
#TLS_CERT_FILE=./certs/localhost+2.pem # Path relative to where you run the app
#TLS_KEY_FILE=./certs/localhost+2-key.pem # Path relative to where you run the app
